<div class="modal fade" id="forgot-password-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Odzyskiwanie hasła</h2>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="registration-email">Podaj adres email którego użyłeś do zarejestrowania się w serwisie.</p>
                <form method="post" action="{{ path('forgot_password') }}">
                    <div class="form-group">
                        <input type="email" class="form-control" id="email_address_forgot" placeholder="Email">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                <button id="reset-password-btn" type="submit" class="btn btn-success"
                        data-loading-text='<span class="glyphicon glyphicon-refresh spinning"></span> Proszę czekać'>
                    Zresetuj hasło
                </button>
            </div>
        </div>
    </div>
</div>