@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

#all-restaurants-jumbotron {
  color: #fff;
  text-align: center;
  background: url(../images/jumbotron.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  padding: 230px 0 240px;
}

#all-restaurants-jumbotron-header {
  font-family: "Kaushan Script", cursive;
  font-size: 70px;
}

@media(max-width: 768px) {
  #all-restaurants-jumbotron {
    padding: 50px 0 60px;
  }

  #all-restaurants-jumbotron-header {
    font-family: "Kaushan Script", cursive;
    font-size: 60px;
  }
}

#global-container {
  margin-top: 30px;
}

.hero-spacer {
  margin-top: 50px;
}

.hero-feature {
  margin-bottom: 30px;
}

.thumbnail.restaurant-thumbnail {
  border-bottom: none;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  height: 100%;
}

div.restaurant-thumbnail > img.restaurant-image, div.restaurant-caption {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

div.restaurant-thumbnail > img.restaurant-image {
  border-top: 1px solid black;
  border-radius: 4px 4px 0 0;
}

:-ms-fullscreen, :root div.restaurant-thumbnail > img.restaurant-image {
  min-height: 175px;
}

.thumbnail .restaurant-caption.caption {
  padding-top: 0;
}

.btn.btn-more-info {
  width: 100%;
  border-radius: 0 0 4px 4px;
}

.restaurants-flex-container {
  display: flex;
  flex-wrap: wrap;
}

.pagination-row {
  margin-bottom: 49.2px;
}

#best_restaurants.page-header {
  margin-top: 20px;
}