@import url('https://fonts.googleapis.com/css?family=Muli');

$grid-float-breakpoint: 992px;
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  position: relative;
  padding-bottom: 49.2px;
  font-family: 'Muli', sans-serif;
  line-height: 1.5;
  min-height: 100vh;
}

#global-container {
  margin-top: 54px;
  padding-bottom: 49.2px;
}

@media (max-width: 768px) {

  #global-container {
    margin-top: 0;
  }

  #navbar-menu {
    position: static;
  }

}

.se-pre-con {
  position: fixed;
  margin-top: 51px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #fff no-repeat center;
  overflow: hidden;
}

.se-pre-con > img {
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.modal-open {
  overflow-y: inherit;
  padding-right: 0 !important;
}

.glyphicon.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

#reset-password-throbber {
  display: none;
}