#ranking-table {

  tbody > tr:hover {
    background: linear-gradient(#fffafa, #a69f9f);
  }

  tr {
    cursor: pointer;

    td, th {
      vertical-align: middle;
      text-align: center;
    }

    td.ranking-place {
      font-size: 30px;
    }

    td.image > img {
      width: 200px;
      height: auto;
    }

    td.name {
      font-size: 18px;
    }

    td.avg-rate > .rating-container {
      display: inline-block;
      vertical-align: middle;
    }
  }
}