.restaurant-details-thumbnail {
  background-color: #e5e3d7;
}

.restaurant-description {
  font-size: 18px;
  margin: 0 0 0 4px;
  padding: 0 0 4px 0;
}

.well.comments-well {
  background-color: #fff4e9;
}

#restaurant-lead {
  font-size: 48px;
}

#restaurant-details {
  margin-top: 15px;
}

.newly-added {
  background-color: #eaea8780;
}

#new-comment-msg {
  height: 101.2px;
  margin: 50.6px 0;
  font-size: 24px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7b359;
  color: #FFFFFF;
}