body {
  padding-top: 70px;
}

.hero-spacer {
  margin-top: 50px;
}

.hero-feature {
  margin-bottom: 30px;
}

.thumbnail.restaurant-thumbnail {
  border: 1px solid black;
  border-bottom: none;
  margin-bottom: 0px;
  border-radius: 4px 4px 0 0;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.restaurant-thumbnail > img {
  display: flex;
  flex: 1 0 auto;
}


.thumbnail .restaurant-caption.caption {
  padding-top: 0px;
}

.btn.btn-more-info {
  width: 100%;
  border-radius: 0 0 4px 4px;
}

.restaurants-flex-container {
  display: flex;
}

.restaurant-flex-item {
  display: flex;
}