body {
  padding-top: 54px;
}

.restaurant-details-thumbnail {
  background-color: #e5e3d7;
}

.restaurant-description {
  font-size: 18px;
  margin: 0 0 0 4px;
  padding: 0 0 4px 0;
}

.well.comments-well {
  background-color: #fff4e9;
}