body {
  padding-top: 70px;
}

.hero-spacer {
  margin-top: 50px;
}

.hero-feature {
  margin-bottom: 30px;
}

footer {
  margin: 50px 0;
}

.restaurant-thumbnail {
  border: 1px solid black;
  border-bottom: none;
  height: 320px;
  margin-bottom: 0px;
}

.thumbnail .restaurant-caption.caption {
  padding-top: 0px;
}

.btn-more-info {
  width: 100%;
}