{% extends 'base.html.twig' %}

{% block title %}INDEX{% endblock %}

{% block container %}
    <div class="row" style="margin-top: 80px">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3>Bogota, Colombia</h3>
                </div>
                <div class="panel-body">
                    <img src="{{ asset('build/images/image1.c126a68f.jpg') }}" alt="cannot load image" class="img-responsive" />
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3>Best and beyond</h3>
                </div>
                <div class="panel-body">
                    <img src="{{ asset('build/images/image2.e4876840.jpg') }}" alt="cannot load image" class="img-responsive" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3>News and interviews</h3>
                </div>
                <div class="panel-body">
                    <img src="{{ asset('build/images/image3.f5bc1a48.jpg') }}" alt="cannot load image" class="img-responsive" />
                </div>
            </div>
        </div>
    </div>
{% endblock %}