{% extends 'base.html.twig' %}

{% block title %}INDEX{% endblock %}

{% block content %}
    INDEX
    <a href="#" data-toggle="popover" title="Popover Header"
       data-content="Some content inside the popover">Toggle popover</a>
{% endblock %}