{% extends 'base.html.twig' %}

{% block title %}INDEX{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default" style="height:350px;width:400px;">
                <div class="panel-heading"> 1</div>
                <div class="panel-body">
                    <img src="{{ asset('build/images/image1.c126a68f.jpg') }}" alt="cannot load image" class="img-responsive" />
                    <button type="button" class="btn btn-primary btn-block">button</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default" style="height:350px;width:400px;">
                <div class="panel-heading"> 2</div>
                <div class="panel-body">
                    <img src="{{ asset('build/images/image2.e4876840.jpg') }}" alt="cannot load image" class="img-responsive" />
                    <button type="button" class="btn btn-primary btn-block">button</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default" style="height:350px;width:400px;">
                <div class="panel-heading"> 3</div>
                <div class="panel-body">
                    <img src="{{ asset('build/images/image3.f5bc1a48.jpg') }}" alt="cannot load image" `enter code here`class="img-responsive" />
                    <button type="button" class="btn btn-primary btn-block">button</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}